In [1]:
import requests
import pandas as pd
from pandas.tseries.offsets import *
import datetime
import collections
from collections import defaultdict

In [3]:
# load Bond market ETF list
bond_df = pd.read_csv("Total Bond Market ETF List (82).csv")

In [4]:
select_bond = bond_df.loc[bond_df["Inception"]<"20151201","Symbol"].reset_index(drop=True)

In [28]:
start_date = "20151231"
end_date = datetime.datetime.now().strftime("%Y%m%d")


index = pd.date_range(start_date, end_date, )

columns = list(select_bond)
df = pd.DataFrame(index=index, columns=columns)

for etf in select_bond:
    url = "https://www.moneydj.com/ETF/X/xdjbcd/Basic0003BCD.xdjbcd?etfid="+etf+"&b="+start_date+"&c="+end_date
    response = requests.get(url).text.split(" ")
    trading_date = response[0].split(",")
    format_date = [d[:4]+"-"+d[4:6]+"-"+d[6:8] for d in trading_date]
    price = response[1].split(",")
    for d, p in zip(format_date, price):
        df.loc[str(d), etf] = float(p)

In [31]:
df.tail(20)

,AGG,BND,BSV,BNDX,MINT,BIV,NEAR,SCHZ,FTSM,SPAB,...,AGZD,NFLT,HOLD,FCOR,BYLD,AGND,FWDB,KCNY,WYDE,SAGG
2019-02-28,107.07,79.72,78.91,54.77,101.47,82.18,50.17,50.97,59.94,28.0346,...,47.6119,24.046,99.35,48.7271,24.33,43.0667,25.13,34.44,31.61,31.55
2019-03-01,106.6,79.35,78.69,54.7,101.26,81.8,50.05,50.74,59.95,27.9133,...,47.6399,24.0314,99.37,48.6409,24.31,43.1681,25.17,34.33,31.55,31.61
2019-03-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-04,106.8,79.53,78.77,54.78,101.27,82.02,50.07,50.83,59.96,27.9604,...,47.6491,24.0469,99.38,48.8017,24.24,43.1031,25.17,34.39,31.6,31.57
2019-03-05,106.82,79.57,78.77,54.79,101.29,82.06,50.07,50.84,59.96,27.9646,...,47.66,24.041,99.39,48.8186,24.26,43.0956,25.17,34.36,31.63,31.56
2019-03-06,106.96,79.67,78.84,54.93,101.3,82.21,50.08,50.91,59.97,28.0028,...,47.648,24.0532,99.4,48.8937,24.26,43.0335,25.16,34.33,31.72,31.51
2019-03-07,107.26,79.85,78.94,55.12,101.32,82.43,50.09,51.06,59.97,28.0799,...,47.6295,24.047,99.41,49.0001,24.28,42.903,25.13,34.35,31.82,31.43
2019-03-08,107.32,79.92,78.96,55.1,101.35,82.5,50.1,51.09,59.99,28.1025,...,47.6265,24.0351,99.44,49.0328,24.29,42.864,25.12,34.26,31.82,31.4
2019-03-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-11,107.27,79.89,78.95,55.11,101.35,82.48,50.11,51.06,59.99,28.0834,...,47.6438,24.0615,99.45,49.0407,24.34,42.926,25.16,34.28,31.67,31.4
2019-03-12,107.54,80.08,79.03,55.16,101.37,82.68,50.12,51.18,60,28.1538,...,47.6645,24.0983,99.46,49.184,24.38,42.839,25.19,34.36,31.59,31.34
2019-03-13,107.51,80.06,79.03,55.15,101.38,82.67,50.13,51.17,60,28.1457,...,47.6661,24.1095,99.47,49.1717,24.39,42.8726,25.22,34.37,31.51,31.36
2019-03-14,107.37,79.96,79.02,55.15,101.39,82.61,50.13,51.11,60.01,28.1107,...,47.6663,24.1078,99.48,49.1015,24.38,42.9443,25.21,34.33,31.54,31.41
2019-03-15,107.57,80.11,79.09,55.19,101.42,82.81,50.14,51.2,60.02,28.1677,...,47.6679,24.1444,99.51,49.2432,24.43,42.8592,25.25,34.36,31.5,31.34
2019-03-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-18,107.61,80.12,79.08,55.26,101.43,82.77,50.15,51.21,NaN,28.1713,...,47.703,NaN,NaN,49.2638,24.43,42.89,NaN,34.36,31.49,31.35
2019-03-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN